@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden;
  font-family: "Zen Maru Gothic", sans-serif;
  background: mintcream;
}

a {
  text-decoration: none;
}

a:visited {
  color: transparent;
}

.main-content {
  display: flex;
  flex-direction: column;
  background: white;
  border: 5px solid powderblue;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  gap: 80px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8px;
  margin: 8px;
}

.middle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header {
  text-align: center;
  margin-bottom: 20px;
}

.html-form {
  margin-top: 80px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

input {
  border: 1px solid powderblue;
  border-radius: 100px;
  padding: 16px;
}

button {
  background: white;
  border: 1px solid powderblue;
  height: 45px;
  width: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: powderblue;
  border: 1px solid white;
  box-shadow: 0 0 10px powderblue;
}

@media (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.back-btn {
  margin-bottom: 16px;
  padding: 8px;
  text-align: center;
}
