@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  /* border: 5px solid red; */
}

body {
  display: inline-block;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  font-family: 'Zen Maru Gothic', sans-serif;
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  margin-left: 0;
  margin-right: 0;
}

a:visited {
  color: transparent;
}

#location-header {
  margin-top: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.back-btn {
  text-align: center;
}

table {
  border: 5px solid black;
  width: 100%;
  height: 100%;
}

th {
  border: 1px solid black;
  text-align: center;
}


td {
  border: 1px solid black;
}

#td-rating {
  text-align: center;
}

.map-container {
  /* margin-top: 50vh; */
  /* margin-bottom: 0; */
  background: pink;
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
