@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fredericka+the+Great&family=Italiana&family=Just+Another+Hand&family=Syncopate&family=Thasadith&display=swap');

* {
  font-family: 'Zen Maru Gothic', sans-serif; 
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden;
}

@media (max-width: 430px){
  body {
    width: 100%;
  }

}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  flex: 1;
  background: pink;
}

.nav-bar {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.logo {
  gap: 5px;
  /* border: 1px solid hotpink; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-img {
  height: 2.5rem;
  width: 2.5rem;
  /* border: 1px solid rgb(57, 5, 246); */
}

.icons {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  gap: 1rem;
  /* border: 1px solid blue; */
}

a:visited {
  color: transparent;
}

.main-title {
  /* border: 1px solid black; */
  text-align: center;
}

.quotes {
  padding: 16px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid blue; */
}

/* .static-quote {
  border: 1px solid red;
} */

.random-quotes {
  margin-top: .625rem;
  margin-bottom: .625rem;
}

.html-form {
  margin-top: 80px;
  /* width: 100%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* border: 5px solid blue; */
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media (max-width: 570px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* label {
  padding: 16px;
} */

input {
  border: 1px solid pink;
  border-radius: 100px;
  padding: 16px;
}

.search-btn {
  background: pink;
  border: 1px solid white;
  height: 45px;
  width: 70px;
  border-radius: 10px;
  /* padding: 16px; */
  display: flex;
  justify-content: center;  
  align-items: center;
}

button:hover {
background: white;
border: 1px solid pink;
box-shadow: 0 0 10px white;
}

.card-links {
  height: 600px;
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  overflow-x: hidden;
}

.card-header {
  /* border: 2px solid green; */
  text-align: center;
  /* margin-top: 50px; */
  margin-bottom: 50px;
 }

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* border: 2px solid red; */
  margin-right: 20px;
  margin-left: 5px;
}

.card .image {
  border: 4px solid pink;
  border-radius: 20px;
  width: 100%;
}

.image:hover {
  border-radius: 20px;
  box-shadow: 0 0 30px 0 pink,
0 0 30px 0 pink,
0 0 30px 0 pink;
}

@media (max-width: 1025px) {

  .card-container {
    gap: 50px;
  }
}

@media (max-width: 1000px) {

  .card-container {
    gap: 40px;
  }
}
  

.google-maps {
  background: pink;
  height: 70%;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex: 0 1 auto;
}

.footer a {
  text-decoration: none;
}

@media (max-width: 700px) {
  footer {
    /* width: 100%; */
    width: 100%;
    /* font-size: x-small;
    display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;

  }
}

/* #location-form {
  display: flex;
} */

#up {
  position: fixed;
     bottom: 10px;
     right: 10px;
     z-index: 100;
     border: 1px solid pink;
     background: white;
     padding: 16px 18px;
     border-radius: 4px;
     text-decoration: none;
     /* box-shadow: 0 0 10px 5px white; */
}

#up:hover {
  background-color: pink;
  box-shadow: 0 0 10px 5px white;
}
