<div class="nav-bar" id="top">
  <div class="logo">
    <a href="/<%=@search_location%>"><img id="logo-img"src="assets/home.png" alt="home with a heart"></a>Home is Community
  <!--Finding Our Way Back Home-->
  <!--Be The Light-->
  <!--Light the Way-->
  <!--Homestead-->
  <!--Steady Home-->
  <!--Homelessness is History-->
  <!--Heartfilled Compassion Network-->
  </div>
  <div class="icons">
      <div><a href="#cards"><i class="fa-solid fa-hand-holding-heart fa-bounce"></i></a></div>
      <div><a href="#us_map"><i class="fa-solid fa-heart fa-bounce"></i></a></div>
      <div><a href="#search-label"><i class="fa-solid fa-magnifying-glass fa-bounce"></i></a></div>
      <div><i class="fa-solid fa-bars fa-bounce"></i></div>
  </div>
</div>
<!--<hr class="solid">-->
<div class="main-content" id="main">
  <div class="main-title"><h1>Homeless Resource Index</h1>
  <div class="quotes"><!--<q class= "static-quote">Home is about love, relationship, community, and belonging, and we are all searching for home. — Erwin Raphael McManus</q>-->
  <q class= "random-quotes"><%=@inspirational_quotes%></q>
  </div>
  </div>
  <div class="html-form" id="hri">
  <form action="/:search">
  <label for="search" id="search-label">Search resources near you</label>
  <input type="text" name="search-locations" id="search" placeholder="city or zip code" value="<%=@search_locations%>">
  <button class="search-btn">Search</button>
  </form>
  </div>
</div>

<div class="card-links" id="cards"> 
  <div class="card-header"><h1>Ways you can help!</h1>
  </div>

  <div class="card-container">
    <div class="card">
    <img class="image" src="https://img.freepik.com/free-photo/be-strong-be-fearless-be-you_23-2148800975.jpg?w=200&t=st=1704413139~exp=1704413739~hmac=377404f9c797427f59767692b796a1673ea29ed6b253c7ce8b50c4591743404b" alt="be strong, be fearless, be you"></div>
    <div class="card"><img class="image" src="assets/imresizer-1704846898856.png" alt="choose joy"></div>
    <div class="card"><img class="image" src="https://img.freepik.com/free-photo/we-can-it-quote-with-beads_53876-101474.jpg?w=200&t=st=1704850318~exp=1704850918~hmac=1f64f1083623d52fb78e07cafc754f321d3ab5a17d4e4b24ba7e6bf46bfd18e8" alt="we can do it"></div>
    <div class="card"><img class="image" src="assets/imresizer-1704847096398.png" alt="you are enough"></div>
  </div>
</div>
<div class="google-maps" id="us_map">
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/search?key=<%=ENV.fetch("GOOGLE_API_KEY")%>
    &q=homeless+resources+food+pantries+housing+assistance,united+states">
</iframe>
<!--<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d47539.60925405411!2d-87.65908565678373!3d41.86649287736951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shomeless%20resources%20near%20me!5e0!3m2!1sen!2sus!4v1704142727277!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>--></div>
<!--<hr class=solid>-->
<div class="footer"><footer><a href="https://www.flaticon.com/free-icons/home" title="home icons">Home icon created by Freepik - Flaticon</a></footer></div>


<div class="scroll-up-button"><a href="/#top" id="up"><i class="fa-solid fa-chevron-up"></i></a></div>
