<!--<link rel="stylesheet" href="location.css">-->
<script src="https://kit.fontawesome.com/ab9c75fe83.js" crossorigin="anonymous"></script>

<h1>Search for resources near <%=@search_location%></h1>

<form action="/:search_results/:search_results" id="location_form">
<label for="user_location">Search resources near you</label>
<input type="hidden" name="search-locations" id="user_location"  value="<%=@search_location%>">
<input type="text" name="resource" id="user_resource" placeholder="resources">
<input type="hidden" name="latitude"   value="<%=@latitude%>">
<input type="hidden" name="longitude" value="<%=@longitude%>">
<button>Search</button>
</form>

<!--<div class="home-button"><a href="/"><i class="fa-solid fa-house fa-bounce"></i></a></div>-->
